* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #000000;
}

.menu {
    display: flex;
    font-size: 22.1541px;
    line-height: 27px;
    color: #FFFFFF;
}

.logo {
    font-weight: 600;
    /* position: absolute;
    left: 89px;
    top: 82px;  */
    margin-left: 89px;
    margin-top: 82px;
}

.menu1 {
    display: flex;
    font-weight: 400;
    margin-left: 51px;
}

.part-menu1 {
    display: flex;
    justify-content: space-between;
}

.part-menu {
    margin-left: 654.45px;
    margin-top: 82.58px;
}

.header-top {
    display: flex;
    align-items: center;
    width: 762.29px;
    margin-left: 305px;
    margin-top: 227px;
    font-weight: 400;
}

.header {
    font-weight: 400;
    font-size: 34.8438px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
}

.header-bottom {
    margin-top: 689.21px;
    margin-bottom: 125.79px;
}

.pictures {
    display: block;
    margin-bottom: 504px;
    margin-left: 170.84px;
    line-height: 0;
    font-size: 0;
}

.header2 {
    font-weight: 400;
    font-size: 96px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 55.97px;
}

.text1 {
    width: 1100px;
    font-weight: 300;
    font-size: 31.3802px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
    margin-left: 160px;
    margin-bottom: 40.79px;
}

.pictures2 {
    display: block;
    margin-left: 150px;
    margin-bottom: 343px;
    line-height: 0;
    font-size: 0;
}

.header3 {
    margin-bottom: 97px;
    font-weight: 400;
    font-size: 96px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
}

.container1 {
    display: inline-block;
    width: 530px;
    height: 516px;
    background-color: #F2F2F2;
    margin-left: 150px;
}

.container2 {
    display: inline-block;
    width: 530px;
    height: 516px;
    background-color: #E2E2E2;
    margin: 0px;
}

.container3 {
    display: inline-block;
    width: 530px;
    height: 516px;
    background-color: #C0C0C0;
    margin-left: 150px;
}

.container4 {
    display: inline-block;
    width: 530px;
    height: 516px;
    background-color: #B4B4B4;
    margin: 0px;
}

.header4 {
    font-weight: 700;
    font-size: 60.8412px;
    line-height: 95.52%;
    position: relative;
    left: 30px;
    top: 43px;
}

.text2 {
    margin-top: 25px;
    font-weight: 400;
    font-size: 26.8575px;
    line-height: 95.52%;
    /* margin-left: 30px; */
    position: relative;
    left: 30px;
    top: 25px;
}

.part-text {
    margin-top: 73px;
    font-weight: 400;
    font-size: 26.8575px;
    line-height: 95.52%;
    margin-left: 30px;
}

.footer {
    font-weight: 400;
    font-size: 96px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 320px;
}

.footer-middle {
    margin-top: 122px;
    font-weight: 400;
    font-size: 63.7913px;
    line-height: 95.52%;
    text-align: center;
    color: #FFFFFF;
}

.footer-bottom {
    margin-top: 250px;
    width: 100%;
    height: 60px;
    background: #FFFFFF;
}

.footer-bottom-right {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 95.52%;
    color: #000000;
    margin-left: 90px;
    margin-top: 20px;
}

.Terms-and-Conditions {
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 95.52%;
    color: #000000;
    position: relative;
    top: 0px;
    left: 650px;
}

.Privacy-Policy {
    font-weight: 300;
    font-size: 20px;
    line-height: 95.52%;
    color: #000000;
    position: relative;
    bottom: 20px;
    left: 1180px;
}

.humburger-menu {
    display: none;
    color: #FFFFFF;
    width: 30px;
}

@media screen  and (max-width:1120px){
    .part-menu {
        display: none;
        /* position: absolute;
        left: 50px;
        top: 82px; */
    }

    .humburger-menu {
        display: block;
        position: absolute;
        left: 50px;
        top: 82px;
    }

    .header-top {
        width: 600px;
    }

    .text1 {
        width: 700px;
    }

    .pictures2 {
        width: 520px;
    }

    .container1 {
        margin-left: 0px;
    }

    .container3 {
        margin-left: 0px;
    }

    .container2 {
        margin-left: 0px;
    }
    .container4 {
        margin-left: 0px;
    }

    
.Terms-and-Conditions {
    position: relative;
    top: 0px;
    left: 50px;
}

.Privacy-Policy {
    position: relative;
    bottom: 20px;
    left: 450px;
}

.footer-bottom-right {
    margin-left: 50px;
    margin-top: 20px;
}
}

@media screen and (max-width:950px) {
    .header-top {
        margin-left: 100px;
    }

    .text1 {
        margin-left: 50px;
        font-size: 25px;
        width: 600px;
    }
}

@media screen and (max-width:720px) {
    .header-top {
        font-size: 28px;
        width: 300px;
    }

    .pictures {
       margin-left: 0px;
       width: 100%;
    }

    .text1 {
      margin-left: 0px;
      width: 500px;
    }

    .pictures2 {
        margin-left: 50px;
    }

    .Terms-and-Conditions {
        position: relative;
        top: 0px;
        left: 20px;
        font-size: 15px;
        width: 150px;
    }
    
    .Privacy-Policy {
        position: relative;
        bottom: 0px;
        left: 20px;
    }
    
    .footer-bottom-right {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 18px;
    }

}

@media screen and (max-width:540px) {
    .header-top {
        width: 300px;
        /* margin-left: 20px; */
    margin-left: 0px;
    }

.img {
    width: 100%;
}

.header2 {
    font-size: 50px;
}

.text1 {
    width: 100%;
}

.img2 {
width: 300px;
}



.text2 {
    font-size: 20px;
}

.footer-middle {
    font-size: 40px;
}

}